language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

sudo: false

matrix:
  fast_finish: true

install:
  - pip install tox-travis

script:
  - tox

after_success:
  - pip install coveralls
  - coveralls
