language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"

sudo: false

matrix:
  fast_finish: true

install:
  - pip install tox-travis
  - pip install codecov

script:
  - tox

after_success:
  - codecov
